div{
  margin: 20px 0 0 30px;
  /* padding-left: 10;
  padding-bottom: 20;
  padding-right: 30;
  padding-top: 20; */
}
  /* margin y x */
  /* margin: 40px 20px; */

  /* margin: 0px 0px 0px 0px */
  /* margin: atas kanan bawah kiri */

/* margin collapse(penggabungan 2 margin) */

/* h1{
  margin-bottom: 60px;
}
h2{
  margin-top: 70px;
} */


